.TestamonialCard {
  display: flex;
  flex-direction: row;

  overflow: hidden;
  border-radius: 0.5rem;
  background-color: var(--border-color);
}
.TestimonialCardContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.TestamonialName {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  text-transform: capitalize;
}
.TestamonialDescription {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--text-color);
}
.TestimonialCardImage {
  position: relative;

  height: 100%;
}
.TestimonialCardImageContainer{
    mask-image: url("/image-mask.png");
    mask-position: center;
    mask-size: cover;
    mask-repeat: no-repeat;
    height: 100%;
    width: 100%;
      mask-mode: alpha;
}
@media (max-width: 1020px) {
}
@media (max-width: 680px) {
}
